h1 {
    padding: 0.4em 0.5em;
    /*文字の上下 左右の余白*/
    color: #494949;
    /*文字色*/
    background: #f4f4f4;
    /*背景色*/
    border-left: solid 5px #7db4e6;
    /*左線*/
    border-bottom: solid 3px #d7d7d7;
    /*下線*/
    counter-reset: chapter;
    font-size: 120%;
}

h2 {
    position: relative;
    padding: 0.5em;
    background: #7db4e6;
    color: white;
    font-size: 120%;
    counter-reset: sub-chapter;
}

h3 {
    counter-reset: section;
}

h4 {
    counter-reset: sub-section;
}

h5 {
    counter-reset: sub-sub-section;
}


h1::before {
    color: black;
    counter-increment: bchapter;
    content: " ";
}

h2::before {
    position: relative;
    color: white;
    //color: black;
    counter-increment: chapter;
    content: counter(chapter) ". ";
}

h3::before {
    color: black;
    counter-increment: sub-chapter;
    content: counter(chapter) "." counter(sub-chapter) ". ";
}


h4::before {
    color: black;
    counter-increment: section;
    content: counter(chapter) "." counter(sub-chapter) "." counter(section) " ";
}

h5::before {
    color: black;
    counter-increment: sub-section;
    content: counter(chapter) "." counter(sub-chapter) "." counter(section) "." counter(sub-section) " ";
}

h6::before {
    color: black;
    counter-increment: sub-sub-section;
    content: "　　" counter(sub-sub-section) "）";
}

table {
    border: solid 1px black;
    border-collapse: collapse;
}

table td {
    border: solid 1px black;

}

table th {
    border: solid 1px black;
}