@charset "UTF-8";
.htmlTable table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 1300pt;
}
.htmlTable td {
  padding-top: 1px;
  padding-right: 1px;
  padding-left: 1px;
  font-size: 10pt;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-align: general;
  vertical-align: middle;
  border: none;
}
.font_red {
  color: #FF0000;
}
.font_bold {
  font-weight: bold;
}
.htmlTable .xl_l {
  text-align: left;
  border-top: none;
  border-right: 0.5pt solid windowtext;
  border-bottom: 0.5pt solid windowtext;
  border-left: 1pt solid windowtext;
  white-space: normal;
}
.htmlTable .xl_m {
text-align: left;
border-top: none;
border-right: 0.5pt solid windowtext;
border-bottom: 0.5pt solid windowtext;
border-left: none;
white-space: normal;
}
.htmlTable .xl_2nd_l {
  text-align: left;
  border-top: 1pt solid windowtext;
  border-right: 0.5pt solid windowtext;
  border-bottom: 0.5pt solid windowtext;
  border-left: 1pt solid windowtext;
  white-space: normal;
}
.htmlTable .xl_2nd_m {
  text-align: left;
  border-top: 1pt solid windowtext;
  border-right: 0.5pt solid windowtext;
  border-bottom: 0.5pt solid windowtext;
  border-left: none;
  white-space: normal;
}
.htmlTable .xl_1st {
  border-top: none;
  border-right: none;
  border-bottom: 1pt solid windowtext;
  border-left: none;
  white-space: normal;
}
.htmlTable .xl_last_l {
  text-align: left;
  border-top: none;
  border-right: 0.5pt solid windowtext;
  border-bottom: 1pt solid windowtext;
  border-left: 1pt solid windowtext;
  white-space: normal;
}
.htmlTable .xl_last_m {
  text-align: left;
  border-top: none;
  border-right: 0.5pt solid windowtext;
  border-bottom: 1pt solid windowtext;
  border-left: none;
 white-space: normal;
}
