---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='AllergyIntolerance' id='Example-JP-AllergyIntolerance-eCS-01' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: AllergyIntolerance/Example-JP-AllergyIntolerance-eCS-01 - Change History</h2>
  <p>History of changes for Example-JP-AllergyIntolerance-eCS-01 {{type | downcase}}.</p>

  {%include AllergyIntolerance-Example-JP-AllergyIntolerance-eCS-01-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
