---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='CodeSystem' id='JP-Specimen-JLAC10-SpecimenCode-CS' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: JP_Specimen_JLAC10_SpecimenCode_CS - Change History</h2>
  <p>History of changes for JP-Specimen-JLAC10-SpecimenCode-CS {{type | downcase}}.</p>

  {%include CodeSystem-JP-Specimen-JLAC10-SpecimenCode-CS-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
