---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='CodeSystem' id='jami-codeSystem-ePreDetailUsageMethod-TwoDigits' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: JAMI_codeSystem_ePreDetailUsageMethod_TwoDigits - Change History</h2>
  <p>History of changes for jami-codeSystem-ePreDetailUsageMethod-TwoDigits {{type | downcase}}.</p>

  {%include CodeSystem-jami-codeSystem-ePreDetailUsageMethod-TwoDigits-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
