---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='CodeSystem' id='mhlw-codeSystem-ePreCDA-sectionCategory-tbl02' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: MHLW_codeSystem_ePreCDA_sectionCategory_tbl02 - Change History</h2>
  <p>History of changes for mhlw-codeSystem-ePreCDA-sectionCategory-tbl02 {{type | downcase}}.</p>

  {%include CodeSystem-mhlw-codeSystem-ePreCDA-sectionCategory-tbl02-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
