---
---
<!-- get modelType -->
{% include fragment-modelType.html id='jp-medicationrequest-dispenserequest-instructionfordispense' %}

{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='jp-medicationrequest-dispenserequest-instructionfordispense' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{modelType}}: JP_MedicationRequest_DispenseRequest_InstructionForDispense - Change History</h2>
{% include fragment-simpletable.html %}
  <p>Changes in the jp-medicationrequest-dispenserequest-instructionfordispense {{modelType | downcase}}.</p>

  {%include StructureDefinition-jp-medicationrequest-dispenserequest-instructionfordispense-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
