---
---
<!-- get modelType -->
{% include fragment-modelType.html id='JP-ImagingStudy-Radiology-eClinicalSummary' %}

{% include fragment-pagebegin.html %}
<div style="counter-reset: section 5" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-profile-navtabs.html type='StructureDefinition' id='JP-ImagingStudy-Radiology-eClinicalSummary' active='mapping' %}

<a name="root"> </a>
<h2 id="root">{{modelType}}: JP_ImagingStudy_Radiology_eClinicalSummary - Mappings</h2>
{% include fragment-simpletable.html %}

<p>Mappings for the JP-ImagingStudy-Radiology-eClinicalSummary {{modelType | downcase }}.</p>

  <!-- insert intro if present -->
  {% include fragment-intro.html type='StructureDefinition' id='JP-ImagingStudy-Radiology-eClinicalSummary' %}

  {%include StructureDefinition-JP-ImagingStudy-Radiology-eClinicalSummary-maps.xhtml%}

  <!-- insert notes if present -->
  {% include fragment-notes.html type='StructureDefinition' id='JP-ImagingStudy-Radiology-eClinicalSummary' %}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
