---
---
<!-- layouts\layout-changehistory.html -->
<!-- get modelType -->


{% include fragment-pagebegin.html %}

<div style="counter-reset: section 10" class="col-12">
  <!--ReleaseHeader--><p id="publish-box">Publish Box goes here</p><!--EndReleaseHeader-->
  {% include fragment-base-navtabs.html type='ValueSet' id='jami-valueSet-ePreOrderUsageCode-16digits' active='history' %}

  <a name="root"> </a>
  <h2 id="root">{{type}}: JAMI_valueSet_ePreOrderUsageCode_16digits - Change History</h2>
  <p>History of changes for jami-valueSet-ePreOrderUsageCode-16digits {{type | downcase}}.</p>

  {%include ValueSet-jami-valueSet-ePreOrderUsageCode-16digits-history.xhtml%}

</div>
{% assign includetabscripts = 'true' %}
{% include fragment-pageend.html %}
